*{
	--red: #e11d3f;
	--img-size: 20rem;
}

*, *:before, *:after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	font-family: 'Verdana';
	margin: 2rem;
}

p {
	font-size: 1.6rem;
}

.App-body {
	margin-left: 5rem;
	margin-top: 5rem;
}

.App-body input {
	margin: 1rem;
}

