div {
	margin: 1.5rem;
	padding: 1rem;
}

.Notifications {
	border: 1px red dashed;
	padding: 1rem;
	margin: 0;
}

li[data-priority="default"] {
	color: blue;
}

li[data-priority="urgent"] {
	color: red;
}
