:root {
    --color-blue: blue;
    --color-red: red;
  }

.Notifications {
  border: 1px dashed #E0434C;
  margin: 1rem;
  padding: 1rem;
}
[data-notification-type='default']  {
  color: var(--color-blue);
  margin-left: 1.5rem;
}

[data-notification-type='urgent']  {
  color: var(--color-red);
  margin-left: 1.5rem;
}